{% extends 'base.html' %}
{% block head %}
  {{ super () }}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css" rel="stylesheet" integrity="sha256-5KRlt3ls3xVyu0Fv7M6hvDH0wCDqHraymjiBtOAhZZU=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js" integrity="sha256-Yc+GwTnlWzpuQ6grDKOT67UA8d1M4Fx33JkNqX3Ke50=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    (function ($) {
      $( '.swipebox' ).swipebox();
    } )( jQuery );
  </script>

  <script>
    //update the output tag with the value of the input:range element
    function outputUpdate(val, target) {
        document.querySelector(target).value = val;
    }
  </script>

{% endblock %}

{% block content %}

<header class="gradient inverse-light pt-4 mb-5">
  <img id="icon" src="{{ url_for('static', filename='img/icon-white.png') }}" width="25" class="mx-auto" alt="logo">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <h1 class="font-thin">Every <strong>thing</strong> now fits in your pocket.</h1>
        <p class="font-light">
          Do you keep your things well organized and maintained? How about the <strong>warranties and receipts</strong>?
          We are building the Everything app to help you take care of every thing.
        </p>
      </div>
    </div>
  </div>
  <div class="scrollcontainer mt-4 mb-3">
    <div class="row no-gutters" id="hero-row">

      <div class="col-4 order-1 order-md-2">
        <div class="phoneslide mainscreen">
          <img src="{{ url_for('static', filename='img/screens/front.png') }}" class="frontscreen" alt="glare">
          <a href="{{ url_for('static', filename='img/screens/listing.png') }}" class="swipebox">
            <img src="{{ url_for('static', filename='img/screens/listing.png') }}" class="screen" alt="screen center">
          </a>
          <img src="{{ url_for('static', filename='img/screens/behind.png') }}" class="backscreen" alt="phone">
        </div>
      </div>

      <div class="col-4">
        <div class="phoneslide sidescreen order-1 order-md-1">
          <img src="{{ url_for('static', filename='img/screens/front.png') }}" class="frontscreen" alt="glare">
          <a href="{{ url_for('static', filename='img/screens/sharing.png') }}" class="swipebox">
            <img src="{{ url_for('static', filename='img/screens/sharing.png') }}" class="screen" alt="screen left">
          </a>
          <img src="{{ url_for('static', filename='img/screens/behind.png') }}" class="backscreen" alt="phone">
        </div>
      </div>

      <div class="col-4">
        <div class="phoneslide sidescreen order-3">
          <img src="{{ url_for('static', filename='img/screens/front.png') }}" class="frontscreen" alt="glare">
          <a href="{{ url_for('static', filename='img/screens/item.png') }}" class="swipebox">
            <img src="{{ url_for('static', filename='img/screens/item.png') }}" class="screen" alt="screen right">
          </a>
          <img src="{{ url_for('static', filename='img/screens/behind.png') }}" class="backscreen" alt="phone">
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <p class="text-center">
          We think that all your things can be smarter, better organized and easier to take care of. We need to hear 
          from you how you are going to use the Everything-app. Register now to let us know and we will make everything the
          way you want it to be.
        </p>
        <a href="#mc-embedded-subscribe-form" class="button text-uppercase centered max-12 max-md-10">
          Register for early access
        </a>
        <p class="text-center"><small>The first 500 users will get early access to Everything.</small></p>
      </div>
    </div>
  </div>

  <div class="regular-dark pt-5 my-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <p class="text-center">
            <i class="fa fa-graduation-cap fa-2x"></i>
          </p>
          <h3 class="text-center accent-text font-light">Smarter things</h3>
          <p>
            You can connect through any of your things. Talk to the manufacturer or get the needed updates and safety
            warnings. Connect with your fellow users to share opinions or user stories.
          </p>
        </div>
        <div class="col-12 col-md-4">
          <p class="text-center">
            <i class="fa fa-rocket fa-2x"></i>
          </p>
          <h3 class="text-center accent-text font-light">Easy adding</h3>
          <p>
            Adding anything should not be harder than taking a picture or scanning the barcode. We are working
            to make it even easier than that ;)
          </p>
        </div>
        <div class="col-12 col-md-4">
          <p class="text-center">
            <i class="fa fa-tags fa-2x"></i>
          </p>
          <h3 class="text-center accent-text font-light">Better organized</h3>
          <p>
            The packing list for your next holiday will be breeze and you will always know where you stored everything.
            Save money by making sure your things are well maintained and have all the right insurance.
          </p>
        </div>
      </div>
    </div>
  </div>

  <form action="//projecteverything.us13.list-manage.com/subscribe/post?u=b1badd77d68346efcf77245e9&amp;id=e86917a40f"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate container mt-5 pt-4" target="_blank"
        novalidate>
<div class="row">
  <div class="col-12 col-lg-10 offset-lg-1">
    <h2>Now onboarding our first 500 users</h2>
    <p>
      Please let us know who you are and what matters to you by filling out the form below. It will only take a few
      minutes. You will get early access to the Everything app and the opportunity to participate in the development.
    </p>

    <div class="mc-field-group input-group mb-5">
      <h4>Question 1/7</h4>
      <p>
        We need you to help us prioritize. Please check all the problems below, which Everything should solve for you.
        Imagine you will pay € 1 for each of the features (just imagine, we plan to keep Everything free).
      </p>

      <ul id="q-features">
        <li class="row regular-dark">
          <label for="mce-group[7261]-7261-0" class="col-12 col-md-11 order-md-2">
            <span class="row">
              <span class="col-12 col-lg-11">
                We can make it really simple to <strong>keep track of your receipts and warranties</strong>. You will
                have it all in one app (instead of a shoe box) so it is always there in case you need it.
              </span>
              <span class="hidden-md-down col-md-1">
                <i class="fa fa-check-square-o fa-lg"></i>
              </span>
            </span>
          </label>
          <span class="col-12 col-md-1 text-center order-md-1">
            <input type="checkbox" value="1" name="group[7261][1]" id="mce-group[7261]-7261-0">
          </span>
        </li>
        <li class="row">
          <label for="mce-group[7261]-7261-2" class="col-12 col-md-11 order-md-2">
            <span class="row">
              <span class="col-12 col-lg-11">
                There must be a simple way to <strong>organize</strong> our things. That should allow you to make
                a packing list for the holiday, organize a move or remember where you stored the ice skates.
              </span>
              <span class="hidden-md-down col-md-1">
                <i class="fa fa-tags fa-lg"></i>
              </span>
            </span>
          </label>
          <span class="col-12 col-md-1 text-center order-md-1">
            <input type="checkbox" value="2" name="group[7261][2]" id="mce-group[7261]-7261-2">
          </span>
        </li>
        <li class="row regular-dark">
          <label for="mce-group[7261]-7261-3" class="col-12 col-md-11 order-md-2">
            <span class="row">
              <span class="col-12 col-lg-11">
                Why not also keep <strong>your wish list</strong> on Everything? That way you will know what to ask or
                give for birthdays or receive updates when a product is available or on discount.
              </span>
              <span class="hidden-md-down col-md-1">
                <i class="fa fa-magic fa-lg"></i>
              </span>
            </span>
          </label>
          <span class="col-12 col-md-1 text-center order-md-1">
            <input type="checkbox" value="8" name="group[7261][8]" id="mce-group[7261]-7261-3">
          </span>
        </li>
        <li class="row">
          <label for="mce-group[7261]-7261-4" class="col-12 col-md-11 order-md-2">
            <span class="row">
              <span class="col-12 col-lg-11">
                We want to get rid of calls to <strong>customer support</strong> and those <strong>user manuals</strong>
                in 12 languages. Let's focus on actually getting your question answered: click the item and
                ask your question.
              </span>
              <span class="hidden-md-down col-md-1">
                <i class="fa fa-book fa-lg"></i>
              </span>
            </span>
          </label>
          <span class="col-12 col-md-1 text-center order-md-1">
            <input type="checkbox" value="4" name="group[7261][4]" id="mce-group[7261]-7261-4">
          </span>
        </li>
        <li class="row regular-dark">
          <label for="mce-group[7261]-7261-5" class="col-12 col-md-11 order-md-2">
            <span class="row">
              <span class="col-12 col-lg-11">
                Your <strong>fire, theft and travel insurances</strong> can become one-click and much more accurate. This
                should save a lot of time, money, discussion and hassle for all parties.
              </span>
              <span class="hidden-md-down col-md-1">
                <i class="fa fa-shield fa-lg"></i>
              </span>
            </span>
          </label>
          <span class="col-12 col-md-1 text-center order-md-1">
            <input type="checkbox" value="34359738368" name="group[7261][34359738368]" id="mce-group[7261]-7261-5">
          </span>
        </li>
        <li class="row">
          <label for="mce-group[7261]-7261-6" class="col-12 col-md-11 order-md-2">
            <span class="row">
              <span class="col-12 col-lg-11">
                We love sharing and it reduces consumption, but we need to <strong>make sharing our things more reliable</strong>.
                It helps to always know who has borrowed or rented your drill or book and when it is due back.
              </span>
              <span class="hidden-md-down col-md-1">
                <i class="fa fa-retweet fa-lg"></i>
              </span>
            </span>
          </label>
          <span class="col-12 col-md-1 text-center order-md-1">
            <input type="checkbox" value="16" name="group[7261][16]" id="mce-group[7261]-7261-6">
          </span>
        </li>
        <li class="row regular-dark">
          <label for="mce-group[7261]-7261-7" class="col-12 col-md-11 order-md-2">
            <span class="row">
              <span class="col-12 col-lg-11">
                Current online <strong>second hand markets</strong> make it hard to find exactly what you want and are
                not always reliable. Let's make this function better and more direct - a bit like Ticketswap or AirBnB.
              </span>
              <span class="hidden-md-down col-md-1">
                <i class="fa fa-money fa-lg"></i>
              </span>
            </span>
          </label>
          <span class="col-12 col-md-1 text-center order-md-1">
            <input type="checkbox" value="32" name="group[7261][32]" id="mce-group[7261]-7261-7">
          </span>
        </li>
        <li class="row">
          <label for="mce-group[7261]-7261-8" class="col-12 col-md-11 order-md-2">
            <span class="row">
              <span class="col-12 col-lg-11">
                The average person loses €260,- worth of property per year, the vast majority never being returned. We need
                to rethink <strong>lost and found</strong> and increase the odds of getting your camera back.
              </span>
              <span class="hidden-md-down col-md-1">
                <i class="fa fa-search fa-lg"></i>
              </span>
            </span>
          </label>
          <span class="col-12 col-md-1 text-center order-md-1">
            <input type="checkbox" value="68719476736" name="group[7261][68719476736]" id="mce-group[7261]-7261-8">
          </span>
        </li>
      </ul>
    </div>

    <div class="mc-field-group input-group mb-5">
      <h4>Question 2/7</h4>
      <p>For which products would you use Everything?</p>
      <ul>
        <li>
          <input type="checkbox" value="64" name="group[7265][64]" id="mce-group[7265]-7265-0">
          <label for="mce-group[7265]-7265-0">Tools</label></li>
        <li>
          <input type="checkbox" value="128" name="group[7265][128]" id="mce-group[7265]-7265-1">
          <label for="mce-group[7265]-7265-1">Sporting gear (racket, boat)</label></li>
        <li>
          <input type="checkbox" value="256" name="group[7265][256]" id="mce-group[7265]-7265-2">
          <label for="mce-group[7265]-7265-2">Travel and outdoor (suitcase, tent)</label></li>
        <li>
          <input type="checkbox" value="512" name="group[7265][512]" id="mce-group[7265]-7265-3">
          <label for="mce-group[7265]-7265-3">Kitchen equipment (coffee maker, blender)</label></li>
        <li>
          <input type="checkbox" value="1024" name="group[7265][1024]" id="mce-group[7265]-7265-4">
          <label for="mce-group[7265]-7265-4">Kitchen utensils (pans, knifes)</label></li>
        <li>
          <input type="checkbox" value="2048" name="group[7265][2048]" id="mce-group[7265]-7265-5">
          <label for="mce-group[7265]-7265-5">Electronics (stereo, printer)</label></li>
        <li>
          <input type="checkbox" value="4096" name="group[7265][4096]" id="mce-group[7265]-7265-6">
          <label for="mce-group[7265]-7265-6">Bicycle or baby stroller</label></li>
        <li>
          <input type="checkbox" value="8192" name="group[7265][8192]" id="mce-group[7265]-7265-7">
          <label for="mce-group[7265]-7265-7">Books or art</label></li>
        <li>
          <input type="checkbox" value="16384" name="group[7265][16384]" id="mce-group[7265]-7265-8">
          <label for="mce-group[7265]-7265-8">Furniture</label></li>
        <li>
          <input type="checkbox" value="32768" name="group[7265][32768]" id="mce-group[7265]-7265-9">
          <label for="mce-group[7265]-7265-9">Clothing and accessories</label></li>
      </ul>
      <small>Choose all that apply</small>
    </div>

    <div class="mc-field-group size1of2 mb-5">
      <h4>Question 3/7</h4>
      <label for="mce-ITEMCOUNT">How many things will you keep in Everything?</label>
      <p class="pt-4">
        <input type="range" min="0" max="200" step="5" value="100" name="ITEMCOUNT" id="mce-ITEMCOUNT"
               oninput="outputUpdate(value, '#itemcount-output')">
        <output for="mce-ITEMCOUNT" id="itemcount-output" class="accent-text align-top">100</output>
      </p>
    </div>

    <div class="mc-field-group size1of2 mb-5">
      <h4>Question 4/7</h4>
      <label for="mce-DESIRE">How likely are you to use Everything: 0 (unlikely) - 10 (likely) </label>
      <p class="pt-4">
        <input type="range" min="0" max="10" step="1" value="7" name="DESIRE" id="mce-DESIRE"
               oninput="outputUpdate(value, '#desire-output')">
        <output for="mce-DESIRE" id="desire-output" class="accent-text align-top">7</output>
      </p>
    </div>

    <div class="mc-field-group mb-5">
      <h4>Question 5/7</h4>
      <label for="mce-AVERSION">What would be a reason NOT to use Everything?</label>
      <textarea rows="3" cols="80" name="AVERSION" class="" id="mce-AVERSION"></textarea>
    </div>

    <div class="mc-field-group input-group mb-5">
      <h4>Question 6/7</h4>
      <p>What best describes your attitude towards things?</p>
      <ul>
        <li>
          <input type="checkbox" value="8388608" name="group[7277][8388608]" id="mce-group[7277]-7277-0">
          <label for="mce-group[7277]-7277-0">I gladly pay extra for high quality</label></li>
        <li>
          <input type="checkbox" value="8589934592" name="group[7277][8589934592]" id="mce-group[7277]-7277-1">
          <label for="mce-group[7277]-7277-1"> I am an active bargain hunter</label></li>
        <li>
          <input type="checkbox" value="33554432" name="group[7277][33554432]" id="mce-group[7277]-7277-2">
          <label for="mce-group[7277]-7277-2">My possessions reflect my personality</label></li>
        <li>
          <input type="checkbox" value="16777216" name="group[7277][16777216]" id="mce-group[7277]-7277-3">
          <label for="mce-group[7277]-7277-3">I have a minimalistic lifestyle (own less)</label></li>
        <li>
          <input type="checkbox" value="67108864" name="group[7277][67108864]" id="mce-group[7277]-7277-4">
          <label for="mce-group[7277]-7277-4">I keep my stuff well-maintained</label></li>
        <li>
          <input type="checkbox" value="134217728" name="group[7277][134217728]" id="mce-group[7277]-7277-5">
          <label for="mce-group[7277]-7277-5">Environmental impact determines what I buy</label></li>
      </ul>
      <small>Choose at most 3 answers</small>
    </div>

    <div class="mc-field-group input-group mb-5">
      <h4>Question 7/7</h4>
      <p>What phone apps did you use in the last week?</p>
      <ul>
        <li>
          <input type="checkbox" value="268435456" name="group[7281][268435456]" id="mce-group[7281]-7281-0">
          <label for="mce-group[7281]-7281-0">Banking</label></li>
        <li>
          <input type="checkbox" value="536870912" name="group[7281][536870912]" id="mce-group[7281]-7281-1">
          <label for="mce-group[7281]-7281-1">Calendar</label></li>
        <li>
          <input type="checkbox" value="1073741824" name="group[7281][1073741824]" id="mce-group[7281]-7281-2">
          <label for="mce-group[7281]-7281-2">To-do list</label></li>
        <li>
          <input type="checkbox" value="2147483648" name="group[7281][2147483648]" id="mce-group[7281]-7281-3">
          <label for="mce-group[7281]-7281-3">Note keeping</label></li>
        <li>
          <input type="checkbox" value="137438953472" name="group[7281][137438953472]" id="mce-group[7281]-7281-4">
          <label for="mce-group[7281]-7281-4">Task planning</label></li>
        <li>
          <input type="checkbox" value="274877906944" name="group[7281][274877906944]" id="mce-group[7281]-7281-5">
          <label for="mce-group[7281]-7281-5">Fitness goals</label></li>
      </ul>
      <small>Choose all that apply</small>
    </div>

    <h4>About you</h4>

    <p>
      Finally we would like to know some personal details to complete the registration. We will not share any of your
      information with others.
    </p>
    <div class="mc-field-group mb-3">
      <select name="EDUCATION" class="max-12 max-md-6" id="mce-EDUCATION">
        <option value="choose education level...">choose education level...</option>
        <option value="Not finished Secondary">Not finished Secondary</option>
        <option value="Secondary school">Secondary school</option>
        <option value="Bachelor">Bachelor</option>
        <option value="Master or Doctoral">Master or Doctoral</option>
      </select>
    </div>

    <div class="mc-field-group mb-3">
      <select name="FAMILY" class="max-12 max-md-6" id="mce-FAMILY">
        <option value="choose living situation...">choose living situation...</option>
        <option value="with parents">With parents</option>
        <option value="independently">Independently</option>
        <option value="together">Together</option>
        <option value="as a family">As a family</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div class="mc-field-group mb-3">
      <select name="INCOME" class="max-12 max-md-6" id="mce-INCOME">
        <option value="choose household income...">choose household income...</option>
        <option value="&lt; € 30,000">&lt; € 30,000</option>
        <option value="€ 30,000 - € 60,000">€ 30,000 - € 60,000</option>
        <option value="€ 60,000 - € 90,000">€ 60,000 - € 90,000</option>
        <option value="&gt; € 90,000">&gt; € 90,000</option>
        <option value="rather not say">I rather not tell</option>
      </select>
    </div>

    <div class="mc-field-group input-group mb-3">
      <ul>
        <li>
          <input type="radio" value="Male" name="GENDER" id="mce-GENDER-0">
          <label for="mce-GENDER-0">Male</label></li>
        <li>
          <input type="radio" value="Female" name="GENDER" id="mce-GENDER-1">
          <label for="mce-GENDER-1">Female</label></li>
      </ul>
    </div>

    <div class="mc-field-group size1of2 mb-3">
      <label for="mce-BIRTHDAY-month">Date of birth</label>
      <div class="datefield">
        <span class="subfield dayfield">
          <input class="datepart " type="text" pattern="[0-9]*" value=""
                   placeholder="DD" size="3" maxlength="2" name="BIRTHDAY[day]"
                   id="mce-BIRTHDAY-day"></span> /
        <span class="subfield monthfield">
          <input class="datepart " type="text" pattern="[0-9]*" value=""
                   placeholder="MM" size="3" maxlength="2" name="BIRTHDAY[month]"
                   id="mce-BIRTHDAY-month"></span> /
        <span class="subfield yearfield">
          <input class="datepart " type="text" pattern="[0-9]*" value=""
                   placeholder="YYYY" size="5" maxlength="4" name="BIRTHDAY[year]"
                   id="mce-BIRTHDAY-year"></span>
      </div>
    </div>

    <div class="mc-field-group mb-3">
      <input type="text" value="" name="NAME" class="required max-12 max-md-6" id="mce-NAME"
             placeholder="name">
    </div>

    <div class="mc-field-group mb-3">
      <input type="email" value="" name="EMAIL" class="required email max-12 max-md-6" id="mce-EMAIL"
             placeholder="email">
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

    <!-- honeypot-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_b1badd77d68346efcf77245e9_e86917a40f" tabindex="-1" value=""></div>

    <div class="clear">
      <input type="submit" value="Register for early access" name="subscribe" id="mc-embedded-subscribe" class="button max-12 max-md-6 mt-4 mb5">
    </div>

  </div>
</div>
  </form>

</main>

<footer class="inverse-bg-dark color-text-light mt-5 p-5 text-center">

  Copyright 2017 Everything

</footer>

{% endblock %}