{% extends 'base.html' %}
{% block head %}
{{ super () }}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename="js/ajaxchimp.js") }}"></script>

    <!--
    <script>
    // ajaxChimp implementation
    $( document ).ready(function() {
        $('#mc-embedded-subscribe-form').ajaxChimp();
    });
    </script>
    -->

    <!--
    <script>
    // custom implementation

    $( document ).ready(function() {
        console.log( "Jquery document ready!" );

        function logResults(json){
            console.log(json);
        }

        $("#mc-embedded-subscribe-form").submit(function(e) {
            var $this = $(this);
            var submitdata = $this.serialize()
            $.getJSON(
                "http://projecteverything.us13.list-manage.com/subscribe/post-json?u=b1badd77d68346efcf77245e9&amp;id=424d192888&c=?", submitdata
            ).done(function( data ) {
                    console.log(data)
                });

        });

    });
    </script>
    -->

{% endblock %}
{% block content %}
    <header>[logo]</header>

    <div class="pure-g" id="content">
        <div class="pure-u-1 pure-u-md-3-5">
            <h1>This changes every thing.</h1>
            <p>Everything will be a free app to organize your possessions. Customer support,
                documentation and receipts will always be there for you. We are working to
                improve how you can use, share and maintain your things!
            </p>
            <ol id="steps">
                <li>Add your things to Everything</li>
                <li>Take care of every thing</li>
            </ol>
        </div>
        <div class="pure-u-1 pure-u-md-2-5">
            <img src="{{ url_for('static', filename='images/phone_ui.png') }}" id="teaserimg">
        </div>


<!-- Begin MailChimp Signup Form -->
<form action="//projecteverything.us13.list-manage.com/subscribe/post?u=b1badd77d68346efcf77245e9&amp;id=424d192888" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-u-1" target="_blank" novalidate>

<div class="">
    <label for="mce-EMAIL">Email address</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
 <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b1badd77d68346efcf77245e9_424d192888" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>






        <!--
        <div class="pure-u-1">
            Please help us prioritize so we can develop the app around your wishes. We will
            reward the first 1000 people to sign up with early access when we launch.
        </div>
        <div class="pure-u-1 question">
            <p>
                A user manual comes in a dozen languages, 11 of which aren't mine. <em>This is just a
                huge waste of paper and energy</em>. And whenever you actually need the manual, it is
                nowhere to be found.
            </p>
            <label><input type="checkbox">This is a problem worth solving</label>
        </div>
        <div class="pure-u-1 question">
            <p>
                Warranty information and receipts are important, but easily misplaced. This can lead
                to costly mistakes. That shoebox, the binder or the trashcan just doesn't cut it.
           </p>
            <label><input type="checkbox">This is a problem worth solving</label>
        </div>
        -->


    <!-- Begin MailChimp Signup Form -->

        <hr>

<form action="//projecteverything.us13.list-manage.com/subscribe/post?u=b1badd77d68346efcf77245e9&amp;id=424d192888" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-u-1" target="_blank" novalidate>


<div class="mc-field-group input-group">
    <strong>User manuals </strong>
    <ul>
        <li><input type="radio" value="Yes" name="QMANUALS" id="mce-QMANUALS-0"><label for="mce-QMANUALS-0">Yes, solve this.</label></li>
        <li><input type="radio" value="No" name="QMANUALS" id="mce-QMANUALS-1"><label for="mce-QMANUALS-1">No, not a problem.</label></li>
    </ul>
</div>
<div class="mc-field-group input-group">
    <strong>Receipts </strong>
    <ul>
        <li><input type="radio" value="Yes" name="QRECEIPTS" id="mce-QRECEIPTS-0"><label for="mce-QRECEIPTS-0">Yes</label></li>
        <li><input type="radio" value="No" name="QRECEIPTS" id="mce-QRECEIPTS-1"><label for="mce-QRECEIPTS-1">No</label></li>
    </ul>
</div>
<div class="mc-field-group input-group">
    <strong>Organize possessions </strong>
    <ul>
        <li><input type="radio" value="Yes" name="QORGANIZE" id="mce-QORGANIZE-0"><label for="mce-QORGANIZE-0">Yes</label></li>
        <li><input type="radio" value="No" name="QORGANIZE" id="mce-QORGANIZE-1"><label for="mce-QORGANIZE-1">No</label></li>
    </ul>
</div>
<div class="mc-field-group input-group">
    <strong>Wish list </strong>
    <ul>
        <li><input type="radio" value="Yes" name="MWISHLIST" id="mce-MWISHLIST-0"><label for="mce-MWISHLIST-0">Yes</label></li>
        <li><input type="radio" value="No" name="MWISHLIST" id="mce-MWISHLIST-1"><label for="mce-MWISHLIST-1">No</label></li>
    </ul>
</div>
<div class="mc-field-group input-group">
    <strong>Customer support </strong>
    <ul>
        <li><input type="radio" value="Yes" name="QSUPPORT" id="mce-QSUPPORT-0"><label for="mce-QSUPPORT-0">Yes</label></li>
        <li><input type="radio" value="No" name="QSUPPORT" id="mce-QSUPPORT-1"><label for="mce-QSUPPORT-1">No</label></li>
    </ul>
</div>
<div class="mc-field-group input-group">
    <strong>Sharing and renting </strong>
    <ul>
        <li><input type="radio" value="Yes" name="QSHARING" id="mce-QSHARING-0"><label for="mce-QSHARING-0">Yes</label></li>
        <li><input type="radio" value="No" name="QSHARING" id="mce-QSHARING-1"><label for="mce-QSHARING-1">No</label></li>
    </ul>
</div>
<div class="mc-field-group input-group">
    <strong>Second hand market </strong>
    <ul>
        <li><input type="radio" value="Yes" name="QMARKET" id="mce-QMARKET-0"><label for="mce-QMARKET-0">Yes</label></li>
        <li><input type="radio" value="No" name="QMARKET" id="mce-QMARKET-1"><label for="mce-QMARKET-1">No</label></li>
    </ul>
</div>

<!-- boilerplate form data -->
<div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b1badd77d68346efcf77245e9_424d192888" tabindex="-1" value=""></div>
<div class="clear">

<div class="">
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>

<input type="submit" value="Ik doe mee!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

</form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='AGE';ftypes[4]='number';fnames[3]='GENDER';ftypes[3]='dropdown';fnames[5]='COUNTRY';ftypes[5]='dropdown';fnames[6]='QMANUALS';ftypes[6]='radio';fnames[7]='QRECEIPTS';ftypes[7]='radio';fnames[8]='QORGANIZE';ftypes[8]='radio';fnames[9]='MWISHLIST';ftypes[9]='radio';fnames[10]='QSUPPORT';ftypes[10]='radio';fnames[11]='QSHARING';ftypes[11]='radio';fnames[12]='QMARKET';ftypes[12]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->




 </div>

{% endblock %}